In [3]:
import numpy as np
import pandas as pd

Answers

1. 1.21.5
2. 11914
3. Chevrolet, Ford, Volkswagen
4. 34
5. 5
6. No
7. 4.5949

In [2]:
np.__version__

'1.21.5'

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.shape

(11914, 16)

In [6]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [22]:
df.groupby(by="Make")['Make'].count().nlargest(3)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [27]:
df.groupby(by="Make")['Make'].count().sort_values(ascending=False)[:3]

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [36]:
df.loc[df.Make == 'Audi'].groupby(by="Make")['Model'].nunique()

Make
Audi    34
Name: Model, dtype: int64

In [46]:
df.isnull().any().agg({'sum': sum})

sum    5
dtype: int64

In [47]:
# 6

In [50]:
df['Engine Cylinders'].median()

6.0

In [51]:
df['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [57]:
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()).median()

6.0

In [58]:
# 7

In [60]:
lotus = df.loc[df.Make == 'Lotus']

In [61]:
lotus_engine = lotus[['Engine HP', 'Engine Cylinders']]

In [64]:
lotus_engine = lotus_engine.drop_duplicates()

In [67]:
X = lotus_engine.to_numpy()

In [71]:
XTX = np.matmul(X.T, X)

In [72]:
i = np.linalg.inv(XTX)

In [73]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [80]:
w = np.dot(np.matmul(i, X.T), y)

In [81]:
w

array([  4.59494481, -63.56432501])